<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="Custom_Behavior">
          <dataContractSerializer maxItemsInObjectGraph="524288000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsbind">

        </binding>

      </wsHttpBinding>
    </bindings>

    <client>
      <!--<endpoint name="yy" address="http://127.0.0.1:9997/WXFService" binding="wsHttpBinding" contract="XF.Contract.IWXFContract" bindingConfiguration="wsbind"/>-->
      <endpoint address="net.tcp://127.0.0.1:9999/WXFService" binding="netTcpBinding" contract="XF.Contract.IWXFContract">
      </endpoint>
    </client>
    
  </system.serviceModel>
</configuration>
