<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectString" connectionString="Data Source=DESKTOP-RA73JLB;database=FGHIS5;uid=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="524288000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="customEndpoint_tcp" maxReceivedMessageSize="524288000" maxBufferPoolSize="524288000" maxBufferSize="524288000" closeTimeout="08:00:00" openTimeout="08:00:00" receiveTimeout="08:00:00">
          <reliableSession ordered="true" inactivityTimeout="08:00:00" enabled="true"/>
          <readerQuotas maxDepth="524288000" maxStringContentLength="524288000" maxArrayLength="524288000" maxBytesPerRead="524288000" maxNameTableCharCount="524288000"/>
          <security mode="None">
            <transport clientCredentialType="Windows"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="basichttp">
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wshttpbind">
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <!-- 系统设置服务寄宿定义 -->
      <service name="XF.Service.WXFService" behaviorConfiguration="ServiceBehavior">
        <!--<endpoint address="" binding="basicHttpBinding" contract="XfWContract.IWXFContract" bindingConfiguration="basichttp"/>-->
        <!--<endpoint address="" binding="wsHttpBinding" contract="XF.Contract.IWXFContract" bindingConfiguration="wshttpbind"/>-->
        <endpoint address="" binding="netTcpBinding" contract="XF.Contract.IWXFContract" bindingConfiguration="customEndpoint_tcp">
        </endpoint>
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://127.0.0.1:9998/WXFService"/>-->
            <add baseAddress="http://127.0.0.1:9997/WXFService"/>
            <add baseAddress="net.tcp://127.0.0.1:9999/WXFService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
